<a href="https://colab.research.google.com/github/Nahal-K-A/Python/blob/main/AIML2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
n=[[10,20,30], [40,50,60], [70,80,90]]
print(n)
print('Elements by row wise:')
for r in n:
  print(r)
print('Elements by matrix style:')
for i in range(len(n)):
  for j in range(len(n[i])):
    print(n[i][j], end=' ')
  print()

[[10, 20, 30], [40, 50, 60], [70, 80, 90]]
Elements by row wise:
[10, 20, 30]
[40, 50, 60]
[70, 80, 90]
Elements by matrix style:
10 20 30
40 50 60
70 80 90

In [ ]:
n1=[[10,20,30], [40,50,60], [70,80,90]]
n2=[[90,80,70], [60,50,40], [30,20,10]]
N=[]  # N is initialized as an empty list

# Create the nested list structure in N before assigning values
for i in range(len(n1)):
  N.append([0] * len(n1[0]))  # Initialize each row with 0s
print(N)

# Now you can safely assign values
for i in range(len(n1)):
  for j in range(len(n1[i])):
    N[i][j] = n1[i][j]+n2[i][j]

for i in range(len(N)):
  for j in range(len(N[i])):
    print(N[i][j], end=' ')
  print()

[[0, 0, 0], [0, 0, 0], [0, 0, 0]]
100 100 100
100 100 100
100 100 100

In [ ]:
n1=[[10,20,30], [40,50,60], [70,80,90]]
n2=[[90,80,70], [60,50,40], [30,20,10]]

# Initialize the result matrix N with zeros
N = [[0 for _ in range(len(n2[0]))] for _ in range(len(n1))]

# Perform matrix multiplication
for i in range(len(n1)):
    for j in range(len(n2[0])):
        for k in range(len(n2)):
            N[i][j] += n1[i][k] * n2[k][j]

# Print the result matrix
for row in N:
    print(row)

[3000, 2400, 1800]
[8400, 6900, 5400]
[13800, 11400, 9000]

In [ ]:
count=0
for i in range(5,0,-1):
  for j in range(i,0,-1):
    if i+j==5:
      count+=1
      break
    else:
      count+=i*j
print(count)

129

In [ ]:
import random
numbers = random.sample(range(-100, 101), 20)
pos=[]
neg=[]
for i in numbers:
  if i<0:
    neg.append(i)
  else:
    pos.append(i)
print(pos)
print(neg)

[62, 86, 32, 17, 21, 88, 66, 63, 7, 23]
[-72, -91, -17, -51, -77, -100, -42, -14, -37, -35]

In [ ]:
def add_sub(a, b):
  sum = a+b
  sub = a-b
  return sum,sub

sum,sub = add_sub(50,50)
print(f"sum = {sum}     Difference = {sub}")

sum = 100     Difference = 0

Function to find factorial

In [ ]:
def fact(num):
  if num==0:
    return 0
  elif num==1:
    return 1
  else:
    return num*fact(num-1)

num=int(input())
fac=fact(num)
print(fac
      )

4
24

In [ ]:
def tail_rec(n):
  if(n==0):
    return
  else:
    print(n)
    return tail_rec(n-1)

(tail_rec(4))

4
3
2
1

user defined fn to find the sum and difference of two 3*3 matrix

In [ ]:
def sum_diff(A, B):
  N=[]
  M=[]
  for i in range(len(A)):
    N.append([0] * len(A[0]))
    M.append([0] * len(A[0]))
  for i in range(len(A)):
    for j in range(len(A[i])):
      N[i][j] = A[i][j]+B[i][j]
      M[i][j] = A[i][j]-B[i][j]
  return N, M


A = [[1,2,3],[1,2,3],[1,2,3]]
B = [[3,2,1],[3,2,1],[3,2,1]]

sum_res, diff_res = sum_diff(A, B)
print(sum_res)
print(diff_res)

[[4, 4, 4], [4, 4, 4], [4, 4, 4]]
[[-2, 0, 2], [-2, 0, 2], [-2, 0, 2]]

In [ ]:
def nt(n):
  if(n<=1):
    return
  else:
    nt(n-2)
    print(n)
    nt(n-1)
    print(n-2)

nt(4)

2
0
4
3
2
0
1
2